.App {
  text-align: center;
}
.container {
  align-items: center;
  text-align: center;
  box-shadow: 2px 0px 3px #302f2f;
  width: auto;
}
.photo {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 12px;
}
.store {
}
.para {
}
